<MsiWrapper>
  <Installer>
    <IconFile Detect="" Value="C:\Users\Dragos\Downloads\Win XP icons\271.ico" />
    <Output FileName="C:\Users\Dragos\Desktop\mypal.msi" />
    <InstallPrivileges Value="Elevated" />
    <PerUser Value="auto" />
    <ElevateExecutable Value="administrators" />
    <UpgradeCode Value="{AA915A2D-DC6A-41BA-B935-D6EAB9C2A079}" />
    <ProductId Value="" />
    <Platform Value="x86" />
    <Registration Value="Visible" />
    <RegistrationWrapped Value="Hidden" />
    <Manufacturer Detect="" Value="feodor2" />
    <ProductVersion Detect="" Value="1.0.0.0" />
    <ProductName Detect="" Value="Mypal 68.12.5b" />
    <Comments Detect="" Value="Firefox 68 based browser for Microsoft Windows XP based systems." />
    <Contact Detect="" Value="" />
    <HelpLink Detect="" Value="https://github.com/Feodor2/Mypal68" />
    <UpdateLink Detect="" Value="https://github.com/Feodor2/Mypal68" />
    <AboutLink Detect="" Value="https://github.com/Feodor2/Mypal68" />
  </Installer>
  <WrappedInstaller>
    <Executable FileName="C:\Users\Dragos\Desktop\files\mypal-68.12.5.en-US.win32\mypal.exe" SuccessCodes="" Impersonate="yes" IncludeFiles="yes" CompressionLevel="Max" />
    <ApplicationId Value="" />
    <Install>
      <Arguments Value="-y -oC:\mypal">
        <UILevelNone Value="" />
        <UILevelBasic Value="" />
        <UILevelReduced Value="" />
        <UILevelFull Value="" />
      </Arguments>
      <RunBeforeInstall Value="" />
      <RunAfterInstall Value="after.bat" />
    </Install>
    <Uninstall>
      <Arguments Value="">
        <UILevelNone Value="" />
        <UILevelBasic Value="" />
        <UILevelReduced Value="" />
        <UILevelFull Value="" />
      </Arguments>
    </Uninstall>
  </WrappedInstaller>
</MsiWrapper>